.about-background {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: var(--white-color);
}

.about {
  display: flex;
  flex-direction: column;
}
.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

/* ============================= */
.about .content__statistics {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.about .content__statistic {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.about .content__statistic > span {
  font-weight: 700;
  color: #dd4c23;
  font-size: 4rem;
}
.about .content__statistic--2 > span {
  color: #03228e;
}

/* ============================= */
.about-cards {
  padding-top: 5rem;
}

.about-card-1:hover {
  background-color: #fd660b;
}
.about-card-2:hover {
  background-color: #10d2f5;
}
.about-card-3:hover {
  background-color: #f5be17;
}
.about-card-4:hover {
  background-color: #2b43e3;
}

/* BREAKPOINTS =========================== */
/* from 580 px */
@media screen and (min-width: 36.25em) {
  .about .content__statistics {
    flex-direction: row;
    row-gap: 0;
    column-gap: 11rem;
  }
}

/* from 768 px */
@media screen and (min-width: 48em) {
  .about .content__statistics {
    column-gap: 20rem;
  }
  .about .content__statistic > span {
    font-size: 4.4rem;
  }
  .about-cards {
    display: flex;
    gap: 2rem;
  }
  .about-cards__left {
    margin-top: 4rem;
  }
  .about-cards__left,
  .about-cards__right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

/* from 1000px px */
@media screen and (min-width: 62.5em) {
  .about-background {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .about {
    flex-direction: row;
    column-gap: 4.5rem;
  }
  .about__content {
    width: 37rem;
    margin-top: 9rem;
  }
  .about .content__statistics {
    margin-left: 1.5rem;
    column-gap: 2rem;
  }
  .about .content__statistics {
    justify-content: space-between;
  }
  .about .content__statistic {
    width: 30rem;
  }
}

/* from 1200px px */
@media screen and (min-width: 75em) {
  .about__content {
    width: 44rem;
  }
  .about .content__statistic > span {
    font-size: 4.4rem;
  }
}

/* from 1300px */
@media screen and (min-width: 81.25em) {
  .about__content {
    width: 48rem;
  }
}
