.header-background {
  background: var(--bg-gradient);
}

.header-background-scrolled {
  background: var(--white-color);
}

/* ================================ */
.header {
  position: relative;
  width: 100%;
  padding: 2.4rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 4rem;
  width: auto;
}

.toggle-button {
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
}
.toggle-button-scrolled {
  color: #4b8bef;
}

/* ================================ */
.navbar {
  position: absolute;
  top: 7.6rem;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
}
.navbar-show {
  height: 30.2rem;
}

.navbar > a,
.navbar > a:link,
.navbar > a:visited {
  color: var(--main-color);
  text-decoration: none;
  padding: 1.2rem 2rem;
  transition: all 0.3s;
  font-weight: 600;
}
.navbar > a:hover {
  color: #106eea;
}
.navbar > a:not(:last-of-type) {
  border-bottom: 1px solid var(--main-color);
}

.navbar__icons {
  display: none !important;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  column-gap: 3rem;
}
.navbar__icons > button {
  font-size: 1.8rem;
  color: var(--white-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.navbar__icons > button:last-of-type {
  font-size: 2.4rem;
}

/* BREAKPOINTS =========================== */
@media screen and (min-width: 62.5em) {
  .header-background-scrolled {
    background: var(--white-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header-background-scrolled .navbar > a,
  .header-background-scrolled .navbar > a:link,
  .header-background-scrolled .navbar > a:visited,
  .header-background-scrolled .navbar button {
    color: var(--main-color);
  }

  .header-background-scrolled .navbar > a:hover {
    color: #106eea;
  }

  .header__logo {
    height: 2.8rem;
  }

  .toggle-button {
    display: none !important;
  }

  .navbar {
    position: static;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    column-gap: 3rem;
  }

  .navbar > a,
  .navbar > a:link,
  .navbar > a:visited {
    color: var(--white-color);
    padding: 1.2rem 0;
  }
  .navbar > a:hover {
    color: #818eb0;
  }
  .navbar > a:not(:last-of-type) {
    border: none;
  }

  .navbar__icons {
    display: flex !important;
  }
}

@media screen and (min-width: 75em) {
  .header__logo {
    height: 3.5rem;
  }

  .navbar {
    column-gap: 5rem;
  }

  .navbar__icons {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 85em) {
  .navbar {
    column-gap: 6rem;
  }
  .navbar__icons {
    margin-left: 4rem;
  }
}
