.header-background {
  background: var(--bg-gradient);
}

.header__logo {
  height: 4rem;
  width: auto;
}

/* =========================== */
.heading {
  color: var(--white-color);
  padding-top: 6.5rem;
  padding-bottom: 13rem;
}

.heading__intro {
  max-width: 47rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 3.4rem;
}
.heading__intro-text > h1 {
  font-size: 4rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.heading__intro-text > p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;
}

.heading__image {
  display: none;
}

.heading__youtube {
  color: #03228e;
  font-size: 2rem;
  padding: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 62.5em) {
  .heading__image {
    display: block;
    height: auto;
    width: 52rem;
  }
}
