.talk-background {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-color: #f6f7f9;
}

.talk {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

/* ============================= */
.progress-row .progress-row__content--title {
  font-size: 2.2rem;
}
.progress-row__content > .address {
  display: flex;
  flex-direction: column;
}
/* BREAKPOINTS =========================== */
/* from 768 px */
@media screen and (min-width: 48em) {
}

/* from 1000px px */
@media screen and (min-width: 62.5em) {
  .talk-background {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .talk-section {
    column-gap: 3rem !important;
  }

  .talk {
    flex-basis: 53rem;
  }
}
