.testimonials-background {
  padding-top: 7rem;
  padding-bottom: 12rem;
  background-color: #f6f7f9;
}

.testimonials {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

/* ============================= */
.testimonials-reviews {
  display: flex;
  padding-bottom: 5rem;
}

.review {
  position: relative;
  padding: 4rem;
  padding-bottom: 8rem;
  border-radius: 0.3em;
  box-shadow: var(--main-shadow);
  background-color: var(--white-color);
}

.review > img {
  height: auto;
  width: 5rem;
  object-fit: contain;
}
.review > p {
  font-size: 1.7rem;
  line-height: 1.8;
  color: #454545;
  margin-top: 2rem;
}

.review__author {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(50%);

  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.review__author > img {
  height: 100%;
  width: 9rem;
  object-fit: cover;
  border-radius: 50%;
}

.review__author-content {
  transform: translateY(-0.6rem);
}
.review__author-content > h4 {
  font-size: 2.2rem;
  font-weight: 600;
}
.review__author-content > p {
  font-size: 1.7rem;
  color: #454545;
}

/* BREAKPOINTS =========================== */
