@keyframes youtube-border {
  0% {
    opacity: 1;
    height: 8rem;
    width: 8rem;
    border: 1px solid var(--white-color);
  }
  80% {
    opacity: 0;
    height: 18rem;
    width: 18rem;
    border: 1px solid var(--white-color);
  }
  100% {
    opacity: 0;
  }
}

@keyframes header-slides {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(100rem);
  }
}
