@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Livvic', sans-serif;
  --main-color: #101010;
  --white-color: #ffffff;
  --bg-color-gray: #f6f7f9;
  --bg-gradient: linear-gradient(to right, #02228e 35%, #0e66d7);
  --btn-gradient: linear-gradient(to top right, #dc4c22, #f1781e);
  --btn-gradient-hover: linear-gradient(to top right, #f1781e, #dc4c22);
  --composition-gradient: linear-gradient(to top right, #080273, #06005f);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /* 100% = 16px, 62.5% = 10px*/
}

body {
  box-sizing: border-box;
  font-family: var(--font-base);
  color: #333;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
  font-size: 1.6rem; /* 1rem = 10px, 1.6rem = 16px */
  min-height: 100vh; /* body - takes the full screen */

  color: var(--main-color);
  background: var(--white-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Changing the style of selected text */
::selection {
  color: var(--white-color);
  background-color: #106eea;
}
